a {
	text-decoration: none;
	color: #15c;
	cursor: pointer
}

.cNumAlign {
	text-align: right;
	decimalPrecision: 2;
}

.x-item-disabled {
	color: #a0a0a0;
	cursor: default;
	opacity: 1.0;
	filter: 'alpha(opacity=100)';
}

.x-date-picker {
	border: 1px solid #1b376c;
	border-top: 0 none;
	background: #fff;
	position: relative;
	width: 100px;
}

.x-window-bc {
	background: transparent
		url(../external_scripts/ext3/resources/images/default/window/top-bottom.png)
		repeat-x 0 bottom;
	zoom: 1;
}

a.tableOption:hover {
	font: 10pt;
	background-color: white;
	text-decoration: underline;
}

a.tableOption:active {
	background-color: white;
	text-decoration: underline;
}

.actionNode {
	background-image:
		url(../external_scripts/ext3/resources/images/default/window/top-bottom.png)
		!important;
}

.iconplus {
	background-image:
		url(../external_scripts/ext3/resources/images/default/tree/elbow-plus-nl.gif)
		!important;
}

.iconminus {
	background-image:
		url(../external_scripts/ext3/resources/images/default/tree/elbow-minus-nl.gif)
		!important;
}

.btn-add {
	background-image: url(../images/add.png) !important;
}

.btn-delete {
	background-image: url(../images/icon_delete.gif) !important;
}

.btn-save {
	background-image: url(../images/icon_save.gif) !important;
}

.btn-search {
	background-image: url(../images/workitemlibrary/spssearch2.gif)
		!important;
}

.btn-copy {
	background-image: url(../images/icon_copy.gif) !important;
}

.btn-report {
	background-image: url(../images/icon_reschedule.gif) !important;
}

.btn-seal {
	background-image: url(../images/icon_checkmark_dark.gif) !important;
}

.btn-report-pdf {
	background-image: url(../images/icon_pdf.gif) !important;
}

.btn-report-excel {
	background-image: url(../images/icon_excel.gif) !important;
}

.btn-report-txt {
	background-image: url(../images/icon_text.gif) !important;
}

.btn-cancel {
	background-image: url(../images/arrow_undo.png) !important;
}
/* .btn-refresh{background-image: url(../images/arrow_refresh.png) !important;} */
.btn-lookup {
	background-image: url(../images/arrow_right.png) !important;
}

.btn-upload {
	background-image: url(../images/arrow_up.png) !important;
}

.btn-payment {
	background-image: url(../images/icon_lookup.gif) !important;
}

.btn-export {
	background-image: url(../images/icon_export.gif) !important;
}

.btn-fuel {
	background-image: url(../images/fuel.jpg) !important;
}

.btn-icon-add {
	background-image: url(../images/icon_add.gif) !important;
}

.btn-cart {
	background-image: url(../images/cart.png) !important;
}

.btn-accept {
	background-image: url(../images/accept.png) !important;
}

.btn-basket-edit {
	background-image: url(../images/basket_edit.png) !important;
}

.btn-close {
	background-image: url(../images/icon_back.gif) !important;
}

.btn-cancel-item {
	background-image: url(../images/icon_cancel.gif) !important;
}

.btn-attach {
	background-image: url(../images/icon_attach.gif) !important;
}

.btn-book-edit {
	background-image: url(../images/book_edit.png) !important;
}

.btn-delete-parts {
	background-image: url(../images/workitemlibrary/deleteParts.gif)
		!important;
}

.btn-rainbow {
	background-image: url(../images/rainbow.png) !important;
}

.btn-archive {
	background-image: url(../images/workitemlibrary/archive.gif) !important;
}

.btn-associate {
	background-image: url(../images/icon_associate.gif) !important;
}

.btn-sailing-ship {
	background-image: url(../images/sailing-ship-icon.png) !important;
}

.btn-cart-go {
	background-image: url(../images/cart_go.png) !important;
}

.btn-move-backwards {
	background-image: url(../images/shape_move_backwards.png) !important;
}

.btn-table-refresh {
	background-image: url(../images/table_refresh.png) !important;
}

.btn-page-go {
	background-image: url(../images/page_go.png) !important;
}

.btn-page-delete {
	background-image: url(../images/page_delete.png) !important;
}

.btn-page-green {
	background-image: url(../images/page_green.png) !important;
}

.btn-page-red {
	background-image: url(../images/page_red.png) !important;
}

.btn-next {
	background-image: url(../images/icon_next.gif) !important;
}

.btn-back {
	background-image: url(../images/icon_back.gif) !important;
}

.btn-email {
	background-image: url(../images/workitemlibrary/email.gif) !important;
}

.btn-template {
	background-image: url(../images/page_white_copy.png) !important;
}

.btn-email {
	background-image: url(../images/workitemlibrary/email.gif) !important;
}

.btn-spv {
	background-image: url(../images/world_go.png) !important;
}

.btn-dod {
	background-image: url(../images/map_go.png) !important;
}

.btn-link {
	background-image: url(../images/icon_link.gif) !important;
}

.btn-reset {
	background-image: url(../images/reset_password.png) !important;
}

.btn_assign {
	background-image: url(../images/icon_assign.png) !important;
}

.icon_info {
	background-image: url(../images/icon_info.gif) !important;
}

.icon_link {
	background-image: url(../images/icon_link.gif) !important;
}

.btn-access {
	background-image: url(../images/give_access.png) !important;
}

.btn-revoke {
	background-image: url(../images/revoke_access.png) !important;
}

.btn-Search {
	background-image: url(../images/search.png) !important;
}

.btn-refresh {
	background-image: url(../images/icon_refresh.png) !important;
}

.btn-goback {
	background-image: url(../images/icon_back.png) !important;
}

.btn-upload {
	background-image: url(../images/icon_upload.png) !important;
}

.btn-email {
	background-image: url(../images/email.png) !important;
}

.btn-pinned {
	background-image: url(../images/icon-pinned_clr.png) !important;
}

.btn-pinned30 {
	background-image: url(../images/icon-pinned_clr30.png) !important;
	width : 80px!important;
}

.btn-go {
	background-image: url(../images/icon_go.gif) !important;
	width:80px!important;
}

.subHeading {
	padding-top: 5px;
	padding-left: 10px;
	padding-bottom: 5px;
	font-size: 1.4em;
	font-weight: bold;
}

.msgPanel {
	background: whiteSmoke;
	border: 1px solid green;
	padding: 0 0 0 10px;
	height: 50px;
}

.errorMsgPanel {
	background: whiteSmoke;
	padding: 0 0 0 10px;
	height: 50px;
	border: 1px solid red;
	color: red;
}

.infoMsgPanel {
	background: whiteSmoke;
	padding: 0 0 0 10px;
	height: 50px;
	border: 1px solid #6699FF;
}

#nhdrwrapinner {
	position: relative
}

.header_tile_image,.header_center_image,.footer_tile_image,.footer_center_image,.attr_image
	{
	background-image: none;
}

#nhdrwrapsizer {
	height: 42px;
	overflow: visible;
	background-color: whiteSmoke;
}

#gsea {
	padding: 10px 0;
}

#gsea_table {
	margin: 0 auto;
}

.gseaopt a:link {
	color: #0000CC;
	text-decoration: none;
}

.gseaopt a:hover {
	text-decoration: underline;
}

#gseaopt a {
	color: #0000CC;
}

#gsea {
	padding: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%
}

#gsea_table {
	position: relative;
	width: 100%;
	height: 100%
}

.gseain {
	padding: 0 14px 0 18px;
	overflow: visible;
	width: 50%;
	text-align: left;
	vertical-align: top;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	white-space: nowrap;
	z-index: 100
}

.gseain br {
	display: none
}

.gsealog {
	padding: 0;
	padding-left: 44px;
	vertical-align: middle !important;
	width: 176px;
	height: 100%
}

.gseaopt {
	display: none
}

#btnG,#indi_nav_prev,#indi_nav_next,#indi_search_themes,#themes_donate_link,#themes_keep_theme_link,#change_theme,#add_gadget,.signIn,.kdButton,input[type\x3dbutton],input[type\x3dsubmit],button
	{
	display: inline-block;
	min-width: 54px;
	*min-width: 70px; /*hello,IE7!*/
	border: 1px solid #DCDCDC;
	border: 1px solid rgba(0, 0, 0, 0.1);
	text-align: center;
	color: #555;
	font-size: 11px;
	font-weight: bold;
	height: 27px;
	padding: 0 8px;
	line-height: 27px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background-color: #f5f5f5;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5),
		to(#f1f1f1) );
	background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
	background-image: -moz-linear-gradient(top, #f5f5f5, #f1f1f1);
	background-image: -ms-linear-gradient(top, #f5f5f5, #f1f1f1);
	background-image: -o-linear-gradient(top, #f5f5f5, #f1f1f1);
	background-image: linear-gradient(top, #f5f5f5, #f1f1f1);
	filter: progid:         DXImageTransform.Microsoft.gradient(  
		   startColorStr\x3d\x27 #f5f5f5\x27, EndColorStr\x3d\x27 #f1f1f1\x27
		);
	-webkit-user-select: none;
	-moz-user-select: none;
	cursor: default
}

#btnG:hover,#indi_nav_prev:hover,#indi_nav_next:hover,#indi_search_themes:hover,#themes_donate_link:hover,#themes_keep_theme_link:hover,#change_theme:hover,#add_gadget:hover,.signIn:hover,.kdButton:hover,input[type\x3dbutton]:hover,input[type\x3dsubmit]:hover,button:hover
	{
	border: 1px solid #c6c6c6;
	color: #333;
	background-color: #f8f8f8;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8),
		to(#f1f1f1) );
	background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
	background-image: -moz-linear-gradient(top, #f8f8f8, #f1f1f1);
	background-image: -ms-linear-gradient(top, #f8f8f8, #f1f1f1);
	background-image: -o-linear-gradient(top, #f8f8f8, #f1f1f1);
	background-image: linear-gradient(top, #f8f8f8, #f1f1f1);
	filter: progid:         DXImageTransform.Microsoft.gradient(  
		   startColorStr\x3d\x27 #f8f8f8\x27, EndColorStr\x3d\x27 #f1f1f1\x27
		);
	-webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1)
}

#btnG:active,#indi_nav_prev:active,#indi_nav_next:active,#indi_search_themes:active,#themes_donate_link:active,#themes_keep_theme_link:active,#change_theme:active,#add_gadget:active,.signIn:active,.kdButton:active,input[type\x3dbutton]:active,input[type\x3dsubmit]:active,button:active
	{
	background-color: #f6f6f6;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6),
		to(#f1f1f1) );
	background-image: -webkit-linear-gradient(top, #f6f6f6, #f1f1f1);
	background-image: -moz-linear-gradient(top, #f6f6f6, #f1f1f1);
	background-image: -ms-linear-gradient(top, #f6f6f6, #f1f1f1);
	background-image: -o-linear-gradient(top, #f6f6f6, #f1f1f1);
	background-image: linear-gradient(top, #f6f6f6, #f1f1f1);
	filter: progid:         DXImageTransform.Microsoft.gradient(  
		   startColorStr\x3d\x27 #f6f6f6\x27, EndColorStr\x3d\x27 #f1f1f1\x27
		);
	-webkit-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1)
}

.kdButtonRed {
	margin-bottom: 0px;
	border: 1px solid transparent;
	text-transform: uppercase;
	background-color: #d14836;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#dd4b39),
		to(#d14836) );
	background-image: -webkit-linear-gradient(top, #dd4b39, #d14836);
	background-image: -moz-linear-gradient(top, #dd4b39, #d14836);
	background-image: -ms-linear-gradient(top, #dd4b39, #d14836);
	background-image: -o-linear-gradient(top, #dd4b39, #d14836);
	background-image: linear-gradient(top, #dd4b39, #d14836);
	filter: progid:         DXImageTransform.Microsoft.gradient(  
		   startColorStr\x3d\x27 #dd4b39\x27, EndColorStr\x3d\x27 #d14836\x27
		);
	color: #FFF;
	letter-spacing: 1;
	text-shadow: 0px 1px rgba(0, 0, 0, 0.1)
}

.kdButtonRed:hover {
	border: 1px solid #b0281a;
	border-bottom: 1px solid #AF301F;
	color: #FFF;
	background-color: #c53727;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#dd4b39),
		to(#c53727) );
	background-image: -webkit-linear-gradient(top, #dd4b39, #c53727);
	background-image: -moz-linear-gradient(top, #dd4b39, #c53727);
	background-image: -ms-linear-gradient(top, #dd4b39, #c53727);
	background-image: -o-linear-gradient(top, #dd4b39, #c53727);
	background-image: linear-gradient(top, #dd4b39, #c53727);
	filter: progid:         DXImageTransform.Microsoft.gradient(  
		   startColorStr\x3d\x27 #dd4b39\x27, EndColorStr\x3d\x27 #c53727\x27
		);
	-webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
}

.kdButtonRed:active,.kdButtonRed:focus:active,.kdButtonRed.focus:active
	{
	border: 1px solid #992A1B;
	background-color: #b0281a;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#dd4b39),
		to(#b0281a) );
	background-image: -webkit-linear-gradient(top, #dd4b39, #b0281a);
	background-image: -moz-linear-gradient(top, #dd4b39, #b0281a);
	background-image: -ms-linear-gradient(top, #dd4b39, #b0281a);
	background-image: -o-linear-gradient(top, #dd4b39, #b0281a);
	background-image: linear-gradient(top, #dd4b39, #b0281a);
	-webkit-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.3);
}

.kdButtonRed:visited {
	color: #FFF
}

#addGadgets {
	display: inline-block
}

.x-livesearch-match {
	font-weight: bold;
	background-color: yellow;
}

.x-toolbar .x-form-cb-wrap {
	line-height: 22px;
}

.x-toolbar .x-form-checkbox {
	vertical-align: 0;
}

.task .x-grid-cell-inner {
	padding-left: 15px;
}

.x-grid-row-summary .x-grid-cell-inner {
	font-weight: bold;
	font-size: 11px;
}

.icon-grid {
	background: url(../shared/icons/fam/grid.png) no-repeat 0 -1px;
}

.x-form-num-field {
	text-align: right;
}

.x-grid-row.row-green .x-grid-cell {
	background-color: #ffffff;
	color: #006400;
	!
	important;
}

.x-grid-row.row-gray .x-grid-cell {
	background-color: #e0e0e0;
	!
	important;
}

.x-grid-row.row-blue .x-grid-cell {
	background-color: #ddeaff;
	color: #006400;
	!
	important;
}

.x-grid-row.back-blue .x-grid-cell {
	background-color: #ddeaff;
	!
	important;
}

.x-boundlist-item-banned-true {
        color: gray;
        font-style: italic;
}

.check-icon {
    background-image: url(../images/icon_checkmark_dark.gif);
    background-repeat: no-repeat;
}
.x-grid-row.line-blue .x-grid-cell {
	color: #0B12B9;
	!
	important;
}

.x-grid-row.back-darkblue .x-grid-cell {
	background-color: #157fcc;
	!
	important;
}

.x-grid-row.back-lightblue .x-grid-cell {
	background-color: rgba(21, 127, 204, 0.59);
	!
	important;
}

.icon-attach{
	background:url(../images/icon_attach.gif) right no-repeat !important;
}

.padding-img{
	width:18px;height:0px;
}

.black .x-grid-cell {
    background-color: #000000;
	color: white;
}

.x-grid-row.back-red .x-grid-cell {
	background-color: red;
	!
	important;
}

.x-grid-row.back-lightYellow .x-grid-cell {
	background-color: #FCD5B4;
	!
	important;
}

.x-grid-row.back-lightGreen1 .x-grid-cell {
	background-color: #C2EE9A;
	font-size: 12px;
	!
	important;
}

.x-grid-row.back-lightGreen2 .x-grid-cell {
	background-color: #C2DFBD;
	font-size: 12px;
	!
	important;
}

.x-grid-row.back-lightGreen3 .x-grid-cell {
	background-color: #C2C9A9;
	font-size: 12px;
	!
	important;
}

.x-grid-row.row-darkgray .x-grid-cell {
	background-color: #BFBFBF;
	!
	important;
}

.x-grid-row.row-lightgray .x-grid-cell {
	background-color: #E5E5E5;
	font-size: 12px;
	!
	important;
}

.x-grid-row.back-lightOrange .x-grid-cell {
	background-color: #FCE5CD;
	font-size: 12px;
	!
	important;
}

.x-grid-row.row-font12 .x-grid-cell {
	font-size: 12px;
}

.grouped-list .x-boundlist-item {
  padding: 1px 3px 0 10px
}

.grouped-list .group-header {
  padding: 4px;
  font-weight: bold;
  border-bottom: 1px solid #ddd;
}
.suggested-Orange .x-panel-header-default 
{
background-image:  -webkit-linear-gradient(top, rgba(255,175,75,1) 0%, rgba(255,146,10,0.9) 100%); 
}

.shortlisted-yellow .x-panel-header-default 
{
background-image:  -webkit-linear-gradient(top, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%); 
}

.submitted-green .x-panel-header-default 
{
background-image:  -webkit-linear-gradient(top, rgba(160,237,159,1) 0%, rgba(18,180,17,0.85) 100%);
}