.headingRow{
	height :35px;	
}

/* table td a {
  display: block;
} */

.headingTab{
	Regular, Tahoma;
	background: #157fcc;
	color :#FFFFFF;
	padding :10px;
	list-style-type: none;
}

tr.headingRow td.li_requirements1:hover{
	background: #363636;
}


.headingBar{
	Regular, Tahoma;
	background: #157fcc;
	width: 100%;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

tr.headingRow td:hover {	
	background: #363636;
	padding: 10px;
}

tr.headingRow td:hover td:on {	
	background: #363636;
	padding: 10px;
}

div#navContainer {
	font-family: QlassikMediumRegular, Tahoma;
	border: 1px solid #3E6B05;
	width: 100%;
	background: #3E6B05;
	padding: 0;
	margin: 0;
	-moz-border-radius: 3px;
	-webkit-border-radius: 0px;
	padding-bottom: 7px;
}

ul.navigationBar li.on {
	margin-bottom: 5px;
}

ul.navigationBar li.on a {
	background: #c53727;
	color: #FFFFFF;
	padding-bottom: 5px;
	font-weight: bold;
}

ul.navigationBar {
	list-style: none;
	padding: 0;
	margin: 0;
}

ul.navigationBar li {
	float: left;
	position: relative;
	margin: 5px 5px 0px;
	z-index: 5;
}

ul.navigationBar li a {
	color: #FFFFFF;
	font-size: 11px;
	text-decoration: none;
	padding: 5px 5px 5px;
	z-index: 5;
	/*		-moz-border-radius: 3px;
		-webkit-border-radius: 3px; */
}

ul.navigationBar li a:hover {
	background: #000000;
	text-shadow:0 0px 0 #000;
}

.activeNavigationBar {
	background: #363636;
	text-shadow: 0px 1px rgba(0, 0, 0, 0.1);
	position: relative;
	padding :10px;
}

.passwordNavigationBar{
	border-bottom: solid 3px #F10E0E;
	text-shadow: 0px 1px rgba(0, 0, 0, 0.1);
	position: relative;
}

ul.navigationBar li a {
	display: block;
}

.clearBoth {
	clear: both;
}

.colorBar {
	background:#363636 no-repeat center top;
	height:8px;
	}

.canvas {
	width:100%;
	margin:0 auto;
	position:relative;
	}	
