<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<!-- <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> -->

<meta http-equiv="refresh"
	content="<%=session.getMaxInactiveInterval%>;url=/login.jsp" />

<title>AccountsInAJiffy</title>
<link rel="stylesheet" type="text/css" href="styles/goog.css" />
<link rel="stylesheet" type="text/css"
	href="js/extjs/resources/css/ext-all-gray.css" />
<link rel="stylesheet" type="text/css" href="styles/navigation.css" />
<script type="text/javascript" src="js/extjs/bootstrap.js"></script>


<script src="js/Exporter-all.js" type="text/javascript"></script>


<script type="text/javascript" src="js/extjs/bootstrap.js"></script>


<script type="text/javascript" src="js/util/combobox.js"></script>
<script type="text/javascript" src="js/util.js"></script>
<script type="text/javascript" src="js/BaseFormPanel.js"></script>
<script type="text/javascript" src="js/BaseStore.js"></script>

<script type="text/javascript" src="js/data/datastore.js"></script>
<script type="text/javascript" src="js/service/Service.js"></script>

<script type="text/javascript" src="js/home/HomePanel.js"></script>
<script type="text/javascript" src="js/home/UserPanel.js"></script>

<script type="text/javascript" src="js/combos.js"></script>
<script type="text/javascript" src="js/UnderConstruction.js"></script>
<script type="text/javascript" src="js/MessageBox.js"></script>

<script type="text/javascript" src="js/vendor/service/VendorService.js"></script>
<script type="text/javascript" src="js/vendor/VendorSearchPanel.js"></script>
<script type="text/javascript" src="js/vendor/VendorGrid.js"></script>
<script type="text/javascript" src="js/vendor/VendorPanel.js"></script>
<script type="text/javascript" src="js/vendor/VendorMgmtPanel.js"></script>

<script type="text/javascript" src="js/employee/service/EmployeeService.js"></script>
<script type="text/javascript" src="js/employee/EmployeePasswordPanel.js"></script>

<script type="text/javascript" src="js/settings/service/SettingsService.js"></script>
<script type="text/javascript" src="js/settings/SettingsMgmtPanel.js"></script>
<script type="text/javascript" src="js/settings/SettingsDetailPanel.js"></script>
<script type="text/javascript" src="js/settings/SettingsPanel.js"></script>
<script type="text/javascript" src="js/settings/FirmDetailPanel.js"></script>
<script type="text/javascript" src="js/settings/SettingsGridPanel.js"></script>
<script type="text/javascript" src="js/settings/AccountDetailPanel.js"></script>

<script type="text/javascript" src="js/recruitment/service/RequirementService.js"></script>
<script type="text/javascript" src="js/recruitment/RequirementMgmtPanel.js"></script>
<script type="text/javascript" src="js/recruitment/RecruitmentTabPanel.js"></script>
<script type="text/javascript" src="js/recruitment/CandidatesGridPanel.js"></script>
<script type="text/javascript" src="js/recruitment/CandidatesSearchPanel.js"></script>
<script type="text/javascript" src="js/recruitment/PlacementSearchPanel.js"></script>
<script type="text/javascript" src="js/recruitment/PlacementsGrid.js"></script>
<script type="text/javascript" src="js/recruitment/RequirementsGrid.js"></script>
<script type="text/javascript" src="js/recruitment/RequirementsSearchPanel.js"></script>
<script type="text/javascript" src="js/recruitment/RequirementDetailPanel.js"></script>
<script type="text/javascript" src="js/recruitment/PlacementsDetailPanel.js"></script>


<!--   <script type="text/javascript" src="js/global.js"></script> -->

<script type="text/javascript" src="js/app.js"></script>

</head>
<body>
</body>
</html>
